html, body {
    margin: 0 !important;
    padding: 0 !important;
}

#emote {
    user-select: none;
    opacity: 1;
    animation-delay: 1s;
    -webkit-animation: fadeOut 6s linear forwards;
    animation: fadeOut 6s linear forwards;
}

@-webkit-keyframes fadeOut {
    0%, 10% {opacity: 0;}
    10%, 90% {opacity: 1;}
    100% {opacity: 0;}
}


@keyframes fadeOut {
    0%, 10% {opacity: 0;}
    10%, 90% {opacity: 1;}
    100% {opacity: 0;}
}
