p {
    font-size:30px;
    color:#0000ff;
    text-align: center;
    font-family: "Comic Sans MS";
    user-select: none;
    animation-delay: 1s;
    -webkit-animation: fadeOut 9s linear forwards;
}
.user_name {
    color: #ff0000;
}

@-webkit-keyframes fadeOut {
    0%, 90% {opacity: 1;}
    90%, 100% {opacity: 0;}
}